img.toppic {
/*	margin: 20px 0 100px 0; */
	border-radius: 150px;
	border: 3px solid black;
	height: 200px;
	width: 200px;
	margin: 20px 0 0 0;
}
img.buttonsmall {
	border: 0;
	height: 35px;
	width: 35px;
}
img.carousel {
	height: 500px;
	width: 700px;
}
.topright {
	position: fixed; 
	top: 0; 
	right: 0;
	height: 225px;
	width: 125px;
	color: black;
	text-align: center;
}
.trcorner {
	height: 225px;
	width: 125px;
	border-radius: 0 0 0 20px;
}
.bottomleft {
	position: fixed; 
	bottom: 0; 
	left: 0;
	height: 225px;
	width: 125px;
	border-radius: 0 20px 0 0;
	color: black;
	text-align: center;
}
.blcorner {
	height: 225px;
	width: 125px;
	border-radius: 0 20px 0 0;
}
header {
	background-image: url("../images/sunset.jpg");
	background-position: center;
	background-size: cover;
	border-radius: 20px;
	text-align: center;
	width: 80%;
	margin: 0 auto;
}
.contact {
	color: white;
	font-family: 'Ceviche One', cursive;
	font-size: 25px;
}
span {
	font-family: 'Sonsie One', cursive;
	font-size: 35px;
}
.content {
	margin: 20px auto;
	width: 80%;
	background: black;
	color: white;
	border-radius: 20px;
}
article {
	padding: 30px;
}
.guitar {
	background-image: url("../images/stratocaster.jpg");
	height: 350px;
	width: 1050px;	
	border-radius: 10px solid black;
	background-size: cover;
	background-position: center;
	margin: 0 auto;
	color: black;
	position: relative;
	font-family: courier;
	font-size: 16px;
}
.hockey {
	background-image: url("../images/bruinslogo.jpg");
	height: 350px;
	width: 1050px;
	border-radius: 10px solid black;
	background-size: cover;
	background-position: center;
	margin: 0 auto;
	color: black;
	position: relative;
	font-family: courier;
	font-size: 16px;
}
.snowboarding {
	background-image: url("../images/snowboarding.jpg");
	height: 350px;
	width: 1050px;
	border-radius: 10px solid black;
	background-size: cover;
	background-position: center -50px;
	margin: 0 auto;
	color: black;
	position: relative;
	font-family: courier;
	font-size: 16px;
}
.hiking {
	background-image: url("../images/lafayette.jpg");
	height: 350px;
	width: 1050px;
	border-radius: 10px solid black;
	background-size: cover;
	background-position: center 50px;
	margin: 0 auto;
	color: black;
	position: relative;
	font-family: courier;
	font-size: 16px;
}
.videogames {
	background-image: url("../images/titanfall.jpg");
	height: 350px;
	width: 1050px;
	border-radius: 10px solid black;
	background-size: cover;
	background-position: center top;
	margin: 0 auto;
	color: black;
	position: relative;
	font-family: courier;
	font-size: 16px;
}
.hideable {
    display: none;
}
p {
  color: rgba(255,255,255,1);
  background: black;
  background: linear-gradient(bottom, rgba(0,0,0,.4), rgba(0,0,0,1));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,.4), rgba(0,0,0,1));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,.4), rgba(0,0,0,1));
  padding: 15px;
  line-height: 20px;
  bottom: 0;
  margin: 0;
  height: 100px;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
}
.carousel {
	margin: 0 auto;
	text-align: center;
}
input {
	color: rgba(255,255,255,1);
 	background: black;
 	background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
 	background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
 	background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
 	padding: 15px;
 	line-height: 20px;
 	height: 500px;
 	transition: height .5s;
 	-webkit-transition: height .5s;
 	-moz-transition: height .5s;
}
.backbutton {
	position: relative;
	top: -520px;
	left: -300px;
	margin: 0 0 -520px 0;
	overflow: hidden;
}
.forwardbutton {
	position: relative;
	top: -520px;
	left: 310px;
	margin: 0 0 -520px 0;
	overflow: hidden;
}
a {
	color: #3399FF;
	font-weight: bolder;
	text-decoration: none;
}

/*header {
	background-image: url("../images/sunset.jpg");
	background-position: center;
	background-size: cover;
	opacity: 0.8;
	border-radius: 20px;
	text-align: center;
}
body {	
	background: black;
	color: white;
	font-size: 25px;
}
h1 {
	text-align: left;
}
img.toppic {
	margin: 20px 0 100px 0;
	border-radius: 150px;
	border: 3px solid black;
	height: 200px;
	width: 200px;
}
img.buttonsmall {
	border: 0;
	height: 35px;
	width: 35px;
}
img.carousel {
	height: 500px;
	width: 700px;
}
.topright {
	position: absolute; 
	top: 0; 
	right: 0; 
	height: 200px;
	width: 125px;
}
.bottomleft {
	position: absolute; 
	bottom: 0; 
	left: 0; 
	height: 200px;
	width: 125px;
}
div {

}
p {
  color: rgba(255,255,255,1);
  background: black;
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.3));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.3));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.3));
  padding: 15px;
  line-height: 20px;
  position: absolute;
  bottom: 0;
  margin: 0;
  height: 80px;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
}
a {
	color: #3399FF;
	font-weight: bolder;
	text-decoration: none;
}
small {
  opacity: 1;
}
span {
	font-family: 'Sonsie One', cursive;
}
article {
	position: relative;
	top: -100px;
	left: 130px;
	width: 80%;
}
.headerbottom {
	padding: 10px;
    background: #3399FF;
    opacity: .8;
    border: 0px solid black;
    border-radius: 0 0 20px 20px;
}
.headertop {
	padding: 10px;
    background: #3399FF;
    opacity: .8;
    border: 0px solid black;
    border-radius: 20px 20px 0 0;
}
.hobbies {
	position: relative;
	top: -80px;
	margin: 0 0 -80px 0;
}
.contact {
	color: white;
	position: relative;
	top: -140px;
	font-family: 'Ceviche One', cursive;
	font-size: 25px;
	color: white;
	text-align: center;
	margin: 0 0 -140px 0;
}
.buttons {
	position: relative;
	top: -115px;
	text-align: center;
	margin: 0 0 -115px 0;
}
.guitar {
	background-image: url("../images/stratocaster.jpg");
	height: 300px;
	width: 900px;	
	border-radius: 10px solid black;
	background-size: cover;
	background-position: center;
	margin: 0 auto;
	color: black;
	position: relative;
	font-family: courier;
	font-size: 16px;
}
.hockey {
	background-image: url("../images/bruinslogo.jpg");
	height: 300px;
	width: 900px;
	border-radius: 10px solid black;
	background-size: cover;
	background-position: center;
	margin: 0 auto;
	color: black;
	position: relative;
	font-family: courier;
	font-size: 16px;
}
.snowboarding {
	background-image: url("../images/snowboarding.jpg");
	height: 300px;
	width: 900px;
	border-radius: 10px solid black;
	background-size: cover;
	background-position: center;
	margin: 0 auto;
	color: black;
	position: relative;
	font-family: courier;
	font-size: 16px;
}
.hiking {
	background-image: url("../images/lafayette.jpg");
	height: 300px;
	width: 900px;
	border-radius: 10px solid black;
	background-size: cover;
	background-position: center top;
	margin: 0 auto;
	color: black;
	position: relative;
	font-family: courier;
	font-size: 16px;
}
.videogames {
	background-image: url("../images/titanfall.jpg");
	height: 300px;
	width: 900px;
	border-radius: 10px solid black;
	background-size: cover;
	background-position: center top;
	margin: 0 auto;
	color: black;
	position: relative;
	font-family: courier;
	font-size: 16px;
}
.hideable {
    display: none;
}
.carousel {
	position: relative;
	left: 175px;
	top: -50px;
	margin: 0 0 -50px 0;
}
form {
	position: relative;
	left: 400px;
	top: -100px;

}
input {
	color: rgba(255,255,255,1);
 	background: black;
 	background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.3));
 	background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.3));
 	background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.3));
 	padding: 15px;
 	line-height: 20px;
	position: absolute;
 	bottom: 0;
 	margin: 0 0 -200px 0;
 	height: 500px;
 	transition: height .5s;
 	-webkit-transition: height .5s;
 	-moz-transition: height .5s;
}
.backbutton {
	position: relative;
	top: -481px;
	left: -275px;
	margin: 0 0 -481px 0;
}
.forwardbutton {
	position: relative;
	top: -481px;
	left: 415px;
	margin: 0 0 -481px 0;
}